/*SCROLL BAR*/

body
{
scrollbar-face-color: #EEEEEE; 
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #CC3333; 
scrollbar-darkshadow-color: #CC3333; 
scrollbar-track-color: #DDDDDD; 
scrollbar-arrow-color: #CC3333;
}

.none {  font-family: Arial, Helvetica, sans-serif; font-size: 2px}

/*TITRES*/

.titlerp {font-family: Arial, Geneva, Helvetica;font-size: 14px;font-weight: bold;color: #000000}
.titlers {font-family: Arial, Geneva, Helvetica;font-size: 12px;font-weight: bold;color: #000000}
.titlerup {font-family: Arial, Geneva, Helvetica;font-size: 12px;font-weight: bold;color: #FF9900}
.title {font-family: Arial, Geneva, Helvetica;font-size: 11px;font-weight: bold;color: #000000}
.titleFFF {font-family: Arial, Geneva, Helvetica;font-size: 11px;font-weight: normal;color: #FFFFFF}
.titleF90 {font-family: Arial, Geneva, Helvetica;font-size: 12px;color: #FF9900}
.titleC33 {font-family: Arial, Geneva, Helvetica;font-size: 11px;color: #CC3333}

/*TEXTE*/

.blurb {font-family: Arial, Geneva, Helvetica;font-size: 12px;font-weight: normal}
.text {font-family: Arial, Geneva, Helvetica;font-size: 11px;color: #000000}
.textmini {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #000000}
.textminir {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #CC3333}
.textBig {font-family: Arial, Geneva, Helvetica;font-size: 12px;color: #000000}
.legend {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #666666}
.textBDF {font-family: Arial, Geneva, Helvetica;font-size: 11px;font-weight: normal;color: #BBDDFF; text-decoration: none}
.textminiFFF {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #FFFFFF; text-decoration: none}
.textmini07E {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #0077EE; text-decoration: none}
.BlueChevron10 {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #000099;}
.BlueChevron11 {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #000099;}

/*LIENS*/

a {text-decoration: none; color: #000000}
a:hover {text-decoration: underline; color: #000000}

.fooFFF {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #FFFFFF; text-decoration: none}
a:hover.fooFFF {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #FFFFFF; text-decoration: underline}

.WgFFF {font-family: Arial, Geneva, Helvetica;font-size: 11px;color: #FFFFFF; text-decoration: none}
a:hover.WgFFF {font-family: Arial, Geneva, Helvetica;font-size: 11px;color: #FFFFFF; text-decoration: underline}

.fooDDD {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #666666; text-decoration: underline}
a:hover.fooDDD {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #666666; text-decoration: underline}

.fooCopyDDD {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #666666; text-decoration: none}
a:hover.fooCopyDDD {font-family: Arial, Geneva, Helvetica;font-size: 10px;color: #666666; text-decoration: underline}

.blue {font-family: Arial, Geneva, Helvetica;font-size: 14px;font-weight: normal;color: #000099; text-decoration: underline}

.hover.textminiFFF {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #FFFFFF; text-decoration: underline}

.path {font-family: Arial, Geneva, Helvetica;font-size: 11px;font-weight: normal;color: #000099; text-decoration: underline}
a:hover.path {font-family: Arial, Geneva, Helvetica;font-size: 11px;font-weight: normal;color: #000099; text-decoration: underline}

.pathMini {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #000099; text-decoration: underline}
a:hover.pathMini {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #000099; text-decoration: underline}

a:hover.textmini07E {font-family: Arial, Geneva, Helvetica;font-size: 10px;font-weight: normal;color: #000099; text-decoration: none}

.messageWg {  font-family: Arial, Geneva, Helvetica; font-size: 12px; color: #CC3333; text-decoration: underline}
a:hover.messageWg {  font-family: Arial, Geneva, Helvetica; font-size: 12px; color: #CC3333; text-decoration: underline}

.InfoResWg {  font-family: Arial, Geneva, Helvetica; font-size: 11px; color: #FFFFFF; text-decoration: underline}
a:hover.InfoResWg {  font-family: Arial, Geneva, Helvetica; font-size: 11px; color: #FFFFFF; text-decoration: underline}

.ChangeUserWg {  font-family: Arial, Geneva, Helvetica; font-size: 12px; color: #000000; text-decoration: underline}
a:hover.ChangeUserWg {  font-family: Arial, Geneva, Helvetica; font-size: 12px; color: #000000; text-decoration: underline}

.title555 {font-family: Arial, Geneva, Helvetica;font-size: 12px;color: #555555; text-decoration: none}
a:hover.title555 {font-family: Arial, Geneva, Helvetica;font-size: 12px;color: #000000; text-decoration: underline}

.title555Mini {font-family: Arial, Geneva, Helvetica;font-size: 11px;color: #555555; text-decoration: none}
a:hover.title555Mini {font-family: Arial, Geneva, Helvetica;font-size: 11px;color: #000000; text-decoration: underline}